{% extends 'learn/base.html' %}

{% block title %}Список групп{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список групп</h1>
    {% for group in groups %}
    <div class="card mb-3">
        <div class="card-header" onclick="toggleStudents({{ group.id }})" style="cursor: pointer;">
            {{ group.name }} - {{ group.product.name }}
        </div>
        <ul id="students-{{ group.id }}" class="list-group list-group-flush" style="display: none;">
            {% if group.student_users.exists %}
                {% for student in group.student_users %}
                <li class="list-group-item">
                    {{ student.username }} -
                    {% for access in student.accesses.all %}
                        {% if access.product == group.product %}
                            Доступ: {{ access.get_status_display }}
                        {% endif %}
                    {% endfor %}
                </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">Пусто</li>
            {% endif %}
        </ul>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        Нет доступных групп.
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
    function toggleStudents(groupId) {
        let studentsList = document.getElementById("students-" + groupId);
        if (studentsList.style.display === "none") {
            studentsList.style.display = "block";
        } else {
            studentsList.style.display = "none";
        }
    }
</script>
{% endblock %}
