{% extends 'learn/base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список продуктов</h1>
    {% for product in products %}
    <div class="card mb-3">
        <div class="card-header" onclick="toggleLessons({{ product.id }})" style="cursor: pointer;">
            {{ product.name }} - {{ product.cost }} руб.
        </div>
        <ul id="lessons-{{ product.id }}" class="list-group list-group-flush" style="display: none;">
            {% for lesson in product.lessons.all %}
            <li class="list-group-item">{{ lesson.title }}</li>
            {% empty %}
            <li class="list-group-item">У этого продукта пока нет уроков.</li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <p class="text-center">Пока что нет доступных продуктов.</p>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
    function toggleLessons(productId) {
        let lessonsList = document.getElementById("lessons-" + productId);
        if (lessonsList.style.display === "none") {
            lessonsList.style.display = "block";
        } else {
            lessonsList.style.display = "none";
        }
    }
</script>
{% endblock %}
