{% extends 'learn/base.html' %}

{% block title %}Список студентов{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список студентов</h1>
    {% for student in students %}
    <div class="card mb-3">
        <div class="card-header" onclick="toggleProducts('{{ student.username }}')" style="cursor: pointer;">
            {{ student.username }}
        </div>
        <div id="products-{{ student.username }}" class="card-body" style="display: none;">
            <h5 class="card-title">Купленные продукты:</h5>
            <ul class="list-group list-group-flush">
                {% for access in student.accesses.all %}
                <li class="list-group-item">{{ access.product.name }}</li>
                {% empty %}
                <li class="list-group-item">Нет купленных продуктов</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        Нет студентов.
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
    function toggleProducts(username) {
        let productsList = document.getElementById("products-" + username);
        productsList.style.display = productsList.style.display === "none" ? "block" : "none";
    }
</script>
{% endblock %}
